<% content_for :title, "Edit assignment" %>
<h1 class="text-2xl font-semibold mb-4">Edit compensation assignment</h1>
<%= render "form", engagement: @engagement, assignment: @assignment, plans: @plans %>
